<p>Bienvenido @{{ user.username }}!</p>

<p>
    Antes de empezar a usar <b>Comparte Ride</b> necesitamos que haga lo siguiente.
    Visite el siguiente enlace <a href="">link</a> y ingrese este codigo.
</p>

<p style="text-align:center">
    <code style="text-align:center">
        {{ token }}
    </code>
</p>